In [ ]:
#!pip install pm4py

In [14]:
import pm4py
import pandas as pd

log = pm4py.read_xes('Road_Traffic_Fine_Management_Process.xes')

parsing log, completed traces ::   0%|          | 0/150370 [00:00<?, ?it/s]

In [15]:
df = pm4py.convert_to_dataframe(log)

In [16]:
df.to_csv("log.csv")

In [22]:
df.head()

,amount,org:resource,dismissal,concept:name,vehicleClass,totalPaymentAmount,lifecycle:transition,time:timestamp,article,points,case:concept:name,expense,notificationType,lastSent,paymentAmount,matricola
0,35.0,561,NIL,Create Fine,A,0.0,complete,2006-07-24 00:00:00+00:00,157.0,0.0,A1,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-05 00:00:00+00:00,NaN,NaN,A1,11.0,NaN,NaN,NaN,NaN
2,35.0,561,NIL,Create Fine,A,0.0,complete,2006-08-02 00:00:00+00:00,157.0,0.0,A100,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Send Fine,NaN,NaN,complete,2006-12-12 00:00:00+00:00,NaN,NaN,A100,11.0,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,Insert Fine Notification,NaN,NaN,complete,2007-01-15 00:00:00+00:00,NaN,NaN,A100,NaN,P,P,NaN,NaN

In [26]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
amount,230230.0,63.681656,89.677991,0.0,33.6,38.00,71.50,8000.0
totalPaymentAmount,227971.0,17.815604,36.779382,0.0,0.0,0.00,35.00,4021.0
article,150370.0,113.246658,68.219475,7.0,7.0,157.00,157.00,401.0
points,150370.0,0.078879,0.577687,0.0,0.0,0.00,0.00,10.0
expense,103987.0,11.948984,4.023190,0.0,10.0,11.88,13.50,76.0
paymentAmount,77601.0,46.410027,39.345561,0.0,33.6,36.00,44.67,3975.0
matricola,555.0,0.000000,0.000000,0.0,0.0,0.00,0.00,0.0

In [28]:
df.dtypes

amount                              float64
org:resource                         object
dismissal                            object
concept:name                         object
vehicleClass                         object
totalPaymentAmount                  float64
lifecycle:transition                 object
time:timestamp          datetime64[ns, UTC]
article                             float64
points                              float64
case:concept:name                    object
expense                             float64
notificationType                     object
lastSent                             object
paymentAmount                       float64
matricola                           float64
dtype: object